[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ortools = "*"
jupyterlab = "*"
fastapi = "0.60.1"
uvicorn = "*"
nltk = "*"
python-language-server = "*"
motor = "*"
python-dotenv = "*"
dnspython = "*"

[requires]
python_version = "3.7"
